* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #272727;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.bodyText {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 12px;
    color: white;
}

.subHeading {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 12px;
    color: white;
}

.bodyLink {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 12px;
    text-decoration: underline;
    color: white;
}

.oneLineText {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    width: 56px;
    word-wrap: break-word;
    font-size: 80px;
    color: black;
}
.oneLineTextNormal {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    width: 80px;
    word-wrap: normal;
    font-size: 80px;
    color: black;
    margin: 85px 0px 10px 85px;
}


#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 965px;
    width: 365px;
    margin: 66px 0px 0px 125px;
}

#personalInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}

#contactBtn {
    width: 125px;
    height: 29px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 17px;

}


#contactInfo {
    height: 400px;
    display: flex;

}

#apolloPic {
    height: 210px;
    width: 225px;
    border-radius: 130px;
}

#main {
    width: 60vw;
    height: 80vh;
    margin: 10vh;
    display: flex;
    justify-content: end;
    column-gap: 5px;
   
}

#portfolio {
    width: 10vw;
    height: 80vh;
    border-radius: 30px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
}

#portfolio:hover {
    width: 40vw;
    display: flex;
    justify-content: start;
    align-items: normal;

}
#about {
    width: 10vw;
    height: 80vh;
    border-radius: 30px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
}

#about:hover {
    width: 40vw;
    display: flex;
    justify-content: start;
    align-items: normal;
}


